<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>696478210449-ndpjm97ednht35g4ldt8n9g6qbab0klo.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.696478210449-ndpjm97ednht35g4ldt8n9g6qbab0klo</string>
	<key>API_KEY</key>
	<string>AIzaSyD7-1Y_0r3QyQboRx1yyj9geJssC5qmpFY</string>
	<key>GCM_SENDER_ID</key>
	<string>696478210449</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.brandmore.brandmore</string>
	<key>PROJECT_ID</key>
	<string>brandmore-4bbee</string>
	<key>STORAGE_BUCKET</key>
	<string>brandmore-4bbee.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:696478210449:ios:d94d1dce04c1427b</string>
	<key>DATABASE_URL</key>
	<string>https://brandmore-4bbee.firebaseio.com</string>
</dict>
</plist>